<% if ( article.prev || article.next ){ -%>
<nav class="article-nav">
  <% if ( article.prev ){ -%>
  <a href="<%- url_for(article.prev.path) %>" class="nav-newer" >
    <strong><%= __('newer') %></strong>
    <div>
      <% if ( article.prev.title ) { -%>
        <%= article.prev.title %>
      <% } else { -%>
        (no title)
      <% } -%>
    </div>
  </a>
  <% } -%>
  <% if ( article.next ) { -%>
    <a href="<%- url_for(article.next.path) %>" class="nav-older" >
      <strong><%= __('older') %></strong>
      <div><%= article.next.title %></div>
    </a>
  <% } -%>
</nav>
<% } -%>
