<nav>
  <% if ( article.prev ){ -%>
  <a href="<%- url_for(article.prev.path) %>" class="nav-newer" >
    <h1><%= __('newer') %></h1>
    <p><%= article.prev.title %></p>
  </a>
  <% } -%>
  <% if ( article.next ) { -%>
    <a href="<%- url_for(article.next.path) %>" class="nav-older" >
      <h1><%= __('older') %></h1>
      <p><%= article.next.title %></p>
    </a>
  <% } -%>
</nav>
