<!-- list articles -->
<% if (pagination == 2) { -%>
<%_  page.posts.each(function(post){ -%>
    <%- partial('article', {post: post, index: true}) -%>
<%_  }) -%>
<%_ } else { -%>
  <%_ var last; -%>
  <%_ page.posts.each(function(post, i){ -%>
    <%_ var year = post.date.year(); -%>
    <%_ if (last != year){ -%>
    <%_ last = year; -%>
    <section class="archives-year">
      <a href="<%- url_for(config.archive_dir + '/' + year) %>" ><h3><%= year %></h3></a>
    </section>
    <%_ } -%>
    <%- partial('article-small', {post: post, even: i % 2 == 0}) -%>
  <%_ }) -%>
<%_ } -%>

<%_ if (page.total > 1){ -%>
  <nav id="page-nav">
    <%- paginator({
      prev_text: "&laquo; __('prev')",
      next_text: "__('next') &raquo;"
    }) -%>
  </nav>
<%_ } -%>
