<body class="page about">
  <%- partial('_section/header',        null, {cache: true}) %>
  <%- partial('_section/nav',           null, {cache: true}) %>
  <main>
    <%- partial('_section/_component/article', { article: page }) %>
    <%- partial('_section/_component/contact', null, {cache: true}) %>
  </main>
  <%- partial('_section/asides',        null, {cache: true}) %>
  <%- partial('_section/footer',        null, {cache: true}) %>
  <%- partial('_site/after-footer',     null, {cache: true}) %>
</body>
