<body class="archive category">
  <%- partial('_section/header',        null, {cache: true}) %>
  <%#- partial('_section/nav',           null, {cache: true}) %>
  <main>
    <header>
      <h1><%= __('category') %>:</h1>
      <h2><%= page.category %></h2>
      <p><%= site.data.categories[page.category] %></p>
    </header>
    <%- partial('_section/list-articles', { context: 'excerpt' }) %>
  </main>
  <%- partial('_section/asides',        null, {cache: true}) %>
  <%- partial('_section/footer',        null, {cache: true}) %>
  <%- partial('_site/after-footer',     null, {cache: true}) %>
</body>
