<body class="archive category">
  <%- partial('_section/header',        null, {cache: true}) %>
  <%#- partial('_section/nav',           null, {cache: true}) %>
  <main>

    <header>
      <figure>
        <% if (typeof site.data.categories[page.category] != 'undefined') {  -%>
        <img src="<%-  url_for( site.data.categories[page.category].figure )  %>" >
        <% } -%>
      </figure>
      <h1><%= __('category') %>:</h1>
      <h2><%= page.category %></h2>
      <% if (typeof site.data.categories[page.category] != 'undefined') {  -%>
      <p><%= site.data.categories[page.category].description %></p>
      <% } %>
    </header>
    <%- partial('_section/list-articles', { articles: page.posts, format: 'excerpt' } ) %>
    <%- partial('_section/list-paginator' ) -%>

  </main>
  <%- partial('_section/asides',        null, {cache: true}) %>
  <%- partial('_section/footer',        null, {cache: true}) %>
  <%- partial('_site/after-footer',     null, {cache: true}) %>
</body>
