<body class="archive tag">
  <%- partial('_section/header',    null, {cache: true}) %>
  <%#- partial('_section/nav',       null, {cache: true}) %>
  <main>
    <header>
      <h1><%= __('tag') %>:</h1>
      <h2><%= page.tag %></h2>
    </header>
    <%- partial('_section/list-articles', { articles: page.posts, format: 'excerpt' } ) %>
    <%- partial('_section/list-paginator' ) -%>

  </main>
  <%- partial('_section/asides',    null, {cache: true}) %>
  <%- partial('_section/footer',    null, {cache: true}) %>

  <%- partial('_site/after-footer', null, {cache: true}) %>

</body>
